{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block extrajs %}<script src="{{ STATIC_URL }}js/posts.js" type="text/javascript"></script>{% endblock %}

{% block LEFTSIDE %}
<div class="column" style="border-bottom:solid gray 1px;">
	{% load gen_form %}{% generate_authentication_form %}
</div>
{% endblock %}

{% block MAIN %}
<div class="column">
	{% include 'posts/writing.pt' %}	
</div>
<div class="column">
	<div id="realtime_posts"></div>
</div>
{% endblock %}

{% block RIGHTSIDE %}
<div class="column">
	<div class="bar">安全工作倒计时</div>
</div>
{% endblock %}
